@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIForCars</title>
    <link href="~/css/main.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/main.js"></script>
</head>
<body>
    <div class="hero">
        <div id="header-section"></div>

        <h1>Drive Your Dreams.<br> Bid, Win, Ride!</h1>
    </div>

    <div id="about-section" style="display:none;"></div>
    <div id="contact-section" style="display:none;"></div>
    <div id="login-section" style="display:none;"></div>
    <div id="register-section" style="display:none;"></div>

    @await Html.PartialAsync("Shared/Footer")
</body>
</html>