<div id="about-page">
    <div class="modal-backdrop">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close-btn" onclick="closeAboutPage()">&times;</span>
                <h2>About Us</h2>
            </div>
            <div class="modal-body">
                <p>&emsp; Welcome to LIForCars, your premier destination for bidding, winning, and riding your dream car. Our platform offers a seamless and transparent car auction experience, allowing you to find and purchase cars at competitive prices. With a commitment to quality and customer satisfaction, we're here to help you drive your dream car home.</p>
                <p>&emsp; Founded on the principles of integrity, transparency, and dedication, LIForCars has been at the forefront of revolutionizing the car auction industry. Our user-friendly platform and comprehensive support system ensure that from the moment you bid to the time you ride, your journey is smooth and enjoyable.</p>
            </div>
        </div>
    </div>
</div>