<footer>
    <div class="bottom-icons">
        <a href="#">Facebook</a>
        <a> | </a>
        <a href="#">Instagram</a>
        <a> | </a>
        <a href="#">LinkedIn</a>
    </div>
    <div class="email">
        <a>help@LIForCars.pt</a>
    </div>
    <div class="bottom-icons">
        <a href="#">Privacy Policy</a>
        <a> | </a>
        <a href="#">Terms & Conditions</a>
    </div>
</footer>