@page
@model HeaderModel

<header>
    <h2>LIFORCARS</h2>
    <nav>
        <a href="/">HOME</a>
        @if (!User.IsInRole("Administrator")) {
            <a href="#" onclick="showAboutPage()">ABOUT</a>
            <a href="#" onclick="showContactPage()">CONTACT</a>
            <a href="/CurrentAuctions">CURRENT AUCTIONS</a> 
        } else {
            <a href="#">AUCTIONS</a>
        }

        @if (User.Identity != null && User.Identity.IsAuthenticated) {
            <divSignIn>
                <a2 href="#" class="signin">@User.Identity.Name</a2>
            </divSignIn>
            <form method="post" id="logout-form" action="/Shared/Header">
                @Html.AntiForgeryToken()
                <button type="submit" class="signout-button">SIGN OUT</button>
            </form>
        } else {
            <divSignIn>
                <a2 href="#" onclick="showLoginPage()" class="signin">SIGN IN</a2>
            </divSignIn>
        }
    </nav>
</header>