<header>
    <h2>LIFORCARS</h2>
        <nav>
        <a href="/">HOME</a>
        <a href="#" onclick="showAboutPage()">ABOUT</a>
        <a href="#" onclick="showContactPage()">CONTACT</a>
        <a href="/CurrentAuctions">CURRENT AUCTIONS</a> 
        <divSignIn>
            <a2 href="#" onclick="showLoginPage()" class="signin">SIGN IN</a2>
        </divSignIn>
    </nav>
</header>