@page
@model LoginModel

<div id="login-page">
    <div class="modal-backdrop">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close-btn" onclick="closeLoginPage()">&times;</span>
                <h2>LOG IN</h2>
            </div>
            <div id="login-error" style="color:red; text-align: center; padding:10px;"></div>
            <div id="login-success" style="color:green; text-align:center; padding:10px;"></div>
            <form id="login-form" method="post" action="/Shared/Login">
                @Html.AntiForgeryToken()
                <input type="text" name="Username" placeholder="Username / Email" />
                <input type="password" name="Password" placeholder="Password" />
                <div class="modal-footer">
                    <a href="#" onclick="showRegisterPage()">Register New Account</a>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>