.container,
.highestbid,
.containerImg {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 300px;
    text-align: center; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.container {
    left: 20%; /* Position .container to the left */
}

.highestbid {
    left: 80%; /* Position .highestbid to the right */
}

.containerImg {
    left: 50%;
    width: fit-content;
}

.bidbutton,
.buybutton {
    margin-top: 20px; /* Add margin between buttons and other content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Saira Condensed Bold', sans-serif;
    cursor: pointer;
}

.bidbutton:hover,
.buybutton:hover {
    background-color: #d9534f;
}

.modal-content p, .modal-content h2, .modal-content span {
    color: black;
}