.container,
.highestbid {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 300px;
    text-align: center; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.container {
    left: 20%;
}

.highestbid {
    left: 80%;
}

.containerImg {
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px; /* Padding to create space between the border and the image */
    box-sizing: border-box; /* Include padding and border in the element's dimensions */
    background-color: rgba(255, 255, 255, 0.7);
}

.containerImg img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.bidbutton,
.buybutton {
    margin-top: 20px; /* Add margin between buttons and other content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Saira Condensed Bold', sans-serif;
    cursor: pointer;
}

.bidbutton:hover,
.buybutton:hover {
    background-color: #d9534f;
}

.modal-content p, .modal-content h2, .modal-content span {
    color: black;
}