.auction-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.auction-info {
    padding: 15px;
}

.car-model {
    font-size: 1.25em;
    color: #333;
    margin: 10px 0 5px;
}

.auction-info p {
    font-size: 0.9em;
    color: #666;
}

.no-auctions {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    color: #666;
}

.auctions-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
}

.auctions-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.auctions-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.auction-card {
    background-color: #fff; /* Ensures cards are fully opaque */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease; /* Smooth scaling on hover */
}

.auction-card:hover {
    transform: scale(1.02); /* Slightly enlarges the card on hover */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination span {
    padding-top: 1.5%;
    color: black;
}

.pagination button {
    margin: 0px 14px;
}

.invisible-btn {
    visibility: hidden;
}